body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-color: #fff7ed;
}

/* header styles */
.header--container {
  display: flex;
  background-color: #fff7ed;
  padding: 10px;
  align-items: center;
}

.header--title {
  margin-right: auto;
  text-decoration: none;
  color: black;
  font-weight: 900;
  font-size: 1.5em;
}

.header--nav {
  display: flex;
}

.header--nav > a {
  padding: 5px;
  text-decoration: none;
  color: black;
  font-size: 0.8em;
  font-weight: 500;
}

.header--nav > a:hover {
  text-decoration: underline;
  font-weight: 700;
}

/* Footer Styling */
.footer--container {
  background-color: #252525;
  color: #aaaaaa;
  text-align: center;
  padding: 20px;
}

/* Host Page styling */
.host--nav {
  display: flex;
  align-content: center;
  padding: 20px 5px;
}

.host--nav > a {
  text-decoration: none;
  color: black;
  margin: 0px 10px;
  padding: 5px;
  font-size: 0.9em;
  font-weight: 500;
}

.host--nav > a:hover {
  text-decoration: underline;
  font-weight: 700;
}
